* {
  box-sizing: border-box;
}

body {
  font-family: OCR A Std, monospace	;
  padding: 10px;
  background: linear-gradient(-35deg,#334d8ff0, #047469);
  height: 100vh;
  color: #f2f2f2;
}

/*Top Nav for the experience page*/
.topNavEXP {
  overflow: hidden;
}

.topNavEXP a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNavEXP a:hover {
  background-color: #ddd;
  color: black;
}


.Classes{
  list-style-type: none;
  margin: 100;
  padding: 200;
  width: 200px;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.Classes a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

.Classes a:hover{
  color: white;
  transform: translate(50px);

}

.General_Motors {
  padding: 20px;
  margin-top: 20px;
  border-style: solid;
  background-color: rgb(136, 154, 193);
  color: black;
}

.General_Motors a{
  text-decoration: none;
  color: white;
}

.Skills{
  display: flex;
}

.Skill_Used{
  background-color: white;
  border: #000;
  border-style: solid;
  margin-left: 2%;
  padding: 1%;
  border-radius: 30px;
}

.Atlas_Air {
  padding: 20px;
  margin-top: 20px;
  border-style: solid;
  background-color: rgb(136, 154, 193);
  color: black;
}


/* Right column for the Experience page*/
.rightcolumnXP {
  float: left;
  width: 90%;
  padding-left: 20px;
}


/*Cards for relevant courses*/
.leftcolumnED {   
  float: left;
  width: 20%;
  text-align: center;
  display: block;
}


.rightcolumnED {
  float: left;
  width: 80%;
  padding-left: 20px;
}

.Class_info {
  padding: 20px;
  margin-top: 20px;
  border-style: solid;
  background-color: rgb(136, 154, 193);
  color: black;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  color: #f2f2f2;
}

.header h1 {
  font-size: 50px;
}

/* Logo */
.Logo{
  max-width: 10%;
  max-height: 10%;
}

.Logo_GM{
  max-width: 10%;
  max-height: 10%;
}


.Logo_Atlas{
  max-width: 15%;
  max-height: 10%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 40%;
  text-align: center;
  display: block;
}

.Sections{
  list-style-type: none;
  margin: 100;
  padding: 200;
  width: 200px;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.Sections a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}


.Sections a:hover{
  color: white;
  transform: translate(50px);

}

/* Right column */
.rightcolumn {
  float: left;
  width: 60%;
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
}

.card a{
  text-decoration: none;
  color: gold;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}


